@CHARSET "ISO-8859-1";
/* Table css */
table
{
	margin-top:5%;
	border-collapse: collapse;
	border: 2px #000000 solid;
	margin-left: 40%;
}
/* div name*/
#name 
{
	border-right: 2px #000000 solid;
	border: 1px #000000 solid;
}
/* Data css to specify*/
.data 
{
	background-color: red;
	width: 30px;
	height: 20px;
	border-bottom:1px #000000 solid; 
}
/* providing the Space*/
.space
{
	border-bottom:1px #000000 solid; 
}
/* Aligning the form in centre*/
form
{
	margin-left: 40%;
	
}
